<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@_amit_bhandari">
<meta property="twitter:title" content="{{if .Title }}{{.Title}}{{else}}{{.Site.Title}}{{end}}">
<meta property="og:title" content="{{if .Title }}{{.Title}}{{else}}{{.Site.Title}}{{end}}">
<meta property="twitter:description" content="Photos by Amit Bhandari">
<meta property="twitter:image" content="{{ .Permalink  }}{{ .Params.cover }}">
<meta property="og:image" content="{{ .Permalink  }}{{ .Params.cover }}">


